.justify-content-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .disable-modalClose {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index: 2040;
    opacity: 0;
  }

  .modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}